body{
    font-family: 'Zen Kurenaido', sans-serif;
    background-color: cyan;
    color: royalblue;
}



canvas{
    border: 15px solid red;
    border-radius: 20px;
}


.btn-success{
    width: 100%;
    font-size: 25px;
}


.btn-danger{
    margin-top: 20px;
    font-size: 25px;
    height: 60px;
}